<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b6696238-ca89-46ac-8f8f-0908205a8258/resourceGroups/test-tamas.varga/providers/Microsoft.Web/sites/vt-endang-animals</ResourceId>
    <ResourceGroup>test-tamas.varga</ResourceGroup>
    <ApiResourceId>/subscriptions/b6696238-ca89-46ac-8f8f-0908205a8258/resourceGroups/test-tamas.varga/providers/Microsoft.ApiManagement/service/ams-endan-westeu-001/apis/endan-api-vt</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vt-endang-animals.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>71e08375-5b26-4301-be7e-6db56f3fb0dc</ProjectGuid>
    <MSDeployServiceURL>vt-endang-animals.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>vt-endang-animals</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$vt-endang-animals</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>